<div class="well container" style="margin-top: 25px;">
		<div class="col-lg-8">
			<% @record.properties.each do |key,value| %>
				<% next if key.to_s == "bal" and value.to_f < 15.0%>	
				<div class="row" style="margin:5px;">
					<div class="col-lg-1"></div>
					<div class="col-lg-2">
					<% if key.to_s == "bal"%>
						<h1><small style="font-size:12px"> БАЛ: </small></h1>
					<%else%>
						<h1><small style="font-size:12px"> <%= key %>: </small></h1>
					<%end%> 
					</div>
					<div class="col-lg-4"><p> <%=value%> </p></div>
					<div class="col-lg-1"></div>
				</div>
			<% end %>
		</div>

		<div class="btn btn-default" style="margin:5px;">
		<div class="glyphicon glyphicon-print"></div>
			<%= link_to "Генерирай документ", 
			request.url + '.pdf' 
			%>
		</div><br />
		<div class="btn btn-default" style="margin:5px;">
		<div class="glyphicon glyphicon-edit"></div>
			<%= link_to "Промени", 
			root_url + "campaigns/#{@record.campaign_id}/records/#{@record.id}/edit", 
			method: "update"
		%>
		</div>	<br />
		<div class="btn btn-default" style="margin:5px;">
		<div class="glyphicon glyphicon-backward"></div>
			<%= link_to "Към кампанията", root_url + "campaigns/#{@record.campaign_id}"%>
		</div><br />
		
		<% if @record.id != nil %>
	      		<%= button_to "Изтрий", 
	      			campaign_record_path(@record.campaign_id), 
	      			:method=>:delete, 
	      			:class=>:destroy,
	      			:confirm=>"Сигурни ли сте?" 
	      		%>
		<% end %>
		<br />

	</div>
	<div class="col-lg-3">
		
	<div class="col-lg-3"></div>
</div>