<table>
	<tr>
		<td>
		<!-- Image of the student -->
		</td>
		<td>
			<table>
				<% @record.properties.each do |key,value| %>
				<tr>
					<td>
						<%= key %>:
					</td>
					<td>
						<%= value %>
					</td>
				</tr>
				<% end %>
			</table><br>

		<%= link_to "Генерирай документ", 
			request.url + '.pdf' 
		%> <br><br>
				
		<%= link_to "Промени", 
			root_url + "campaigns/#{@record.campaign_id}/records/#{@record.id}/edit", 
			method: "update"
		%> <br><br>

		<%= link_to "Назад", 
			:back
		%> <br><br>

		<% if @record.id != nil %>
      		<%= button_to "Изтрий", 
      			campaign_record_path(@record.campaign_id), 
      			:method=>:delete, 
      			:class=>:destroy,
      			:confirm=>"Сигурни ли сте?" 
      		%>
		<% end %>
	
		</td>
	</tr>	

</table>
