<% if ! @record_types.empty? %>
	<div class = "well well-small">
	<div class="form-body">
	<%= form_for @campaign do |f| %>
		<div class="panel panel-primary", id ="n-camp-pan">
		<ul>
			<li>
				Име:<br>
				<div class="form-group">
				<%= f.text_field :name, :class => "form-control" %>
				</div>
			</li>
			<li>
				Описание:<br> 
				<div class="form-group">
				<%= f.text_area :description, :rows => "10", :class =>"form-control"%>
				</div>
			</li>	
			<li>
				Тип на записите:<br> 
				<div class="form-group">
				<%= f.select :record_type_id, 
					@record_types, :class => "form-control"
				%>
				</div>
			</li>
		</ul>
		<%= f.submit "Запиши", :class => "btn btn-primary" %>
		</div>
		</div>
	<% end %>
	<div class="panel panel-footer">
		<%= link_to "Всички Кампании",root_url+"campaigns/", :class => "btn btn-primary "%>
	</div>
	</div>
<%else%>
	<p>
		За да създадете нова кампания трябва да сте създали поне един вид на записи. <br>
		Цъкнете линка, за да го направите.
	</p>
	<%=
		link_to "Създай нов вид запис",
		root_url + "record_types/new"
	%>
<%end%>