<div id="content">
	<%= form_for @campaign, url: {action: 'modify_records', campaign_id: @campaign.id} do |f| %>

	<section id="actions">
		<ul>
			<li><%= link_to raw('<i class="icon-plus-sign"></i> Нов кандидат'), new_campaign_record_path(campaign_id: @campaign.id, record_type_id: @campaign.record_type_id)%></li>
			<li><%= link_to "Всички Кампании", root_url + "campaigns/"%></li>
			<li><%= link_to "Генерирай csv файл", root_url + "campaigns/#{@campaign.id}.csv"%></li>
			<li><%= link_to "Генерирай xls файл", root_url + "campaigns/#{@campaign.id}.xls"%></li>
		</ul>
	</section>

	<table id="campaign-records">
		<thead>
			<tr>
				<th><input type="checkbox" id="checkAll" /></th>
				<th>ID</th>
				<%if !@campaign.records.first.nil?%>
					<% @campaign.records.first.properties.each_key do |property|%>
						<%if (property =~ /Бащино име/)|| 
							(property =~ /Собствено име/) || 
							(property =~ /Фамилно име/) ||
							(property =~ /EГН/) ||
							(property =~ /БЕЛ - училище/) ||
							(property =~ /Физика - училище/) ||
							(property =~ /Математика - изпит/) ||
							(property =~ /Български - изпит/) ||
							(property =~ /Математика - ТУЕС/) ||
							(property =~ /Желание1/) ||
							(property =~ /Желание2/)
						%>
							<th><%=property%></th>
						<% end %>
					<% end %>
				<% end %>
				<!--<th>Профил</th>-->
				<th>Повече</th>
			</tr>
		</thead>
		<tbody>
			<% @campaign.records.each do |record| %>
			<tr>
				<td><%= check_box_tag 'record_ids[]', record.id %></td>
				<td><%= record.entry_number %> </td>
				<% record.destroy if record.properties.count == 1 %>
				<% record.properties.each do |key,value| %>
					<%if (key =~ /Бащино име/)|| 
							(key =~ /Собствено име/) || 
							(key =~ /Фамилно име/) ||
							(key =~ /EГН/) ||
							(key =~ /БЕЛ - училище/) ||
							(key =~ /Физика - училище/) ||
							(key =~ /Математика - изпит/) ||
							(key =~ /Български - изпит/) ||
							(key =~ /Математика - ТУЕС/) ||
							(key =~ /Желание1/) ||
							(key =~ /Желание2/)
						%>
							<th><%=value%></th>
						<% end %>
				<% end %>
				<!--<td class="center"><%= link_to raw('<i class="icon-user"></i>'), campaign_record_path(campaign_id: @campaign.id, id: record.id), method: :get %></td>-->
				<td><%= link_to "Повече информация", root_url + "campaigns/#{record.campaign_id}/records/#{record.id}", :class => "btn btn-primary" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
</div>
