<span class:"Campaign-controll">
	<%=link_to "+ Нов запис", new_campaign_record_path(campaign_id: @campaign.id, record_type_id: @campaign.record_type_id)%>
</span>

<table>
	<thead>
		<td>ID</td>
		<% @campaign.records.first.properties.each_key do |propertie|%>
		<td><%= propertie %></td>
		<% end %>
		<td>Профил</td>
		<td>Редактирай</td>
		<td>Изтрий</td>
	</thead>
	<tbody>
		<% @campaign.records.each do |record| %>
		<tr>
			<td><%= record.id %> </td>
			<% record.properties.each_value do |value| %>
			<td><%= value %></td>
			<% end %>
			<td><%= link_to "Профил", campaign_record_path(campaign_id: @campaign.id, id: record.id), method: :get %></td>
			<td><%= link_to "Редактирай", edit_campaign_record_path(campaign_id: @campaign.id, id: record.id) %></td>
			<td><%= link_to "Изтрий", campaign_record_path(campaign_id: @campaign.id, id: record.id),  method: :delete, confirm: "Сигурни ли сте?"%>
		</tr>
		<% end %>
	</tbody>

</table>
